 body{
    background-image: url("R.jpg");
    background-position: center;
 }
 .cadastrar{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;



}

nav{
   display: flex;
   justify-content: space-around;
}